.mauto{margin-left:auto;margin-right:auto;}

.blog-masthead{background-color:#01aef0;}
.blog-nav-item{position:relative;display:inline-block;padding:12px 20px;font-weight:500;color:#fff;font-size:16px;}
.blog-nav-item:hover,.blog-nav-item:focus{background-color:#00a9e9;color:#fff;text-decoration:none;}
.blog-nav .active{background-color:#00a9e9;color:#fff;}
.blog-nav .active:after{position:absolute;bottom:0;left:50%;width:0;height:0;margin-left:-5px;vertical-align:middle;content:" ";border-right:5px solid transparent;border-bottom:5px solid;border-left:5px solid transparent;}

.sidebar{background-color:#fff;/* border-right:1px solid #e5e5e5; */padding:0;}

.rightbox{}
#mainbox{}

input[type="text"],input[type="password"]{padding:4px 5px;vertical-align:middle;border:1px solid #DBDBDB;}
.input-error{background-color:#ffe7e7;}
.inputerror{border-color:#4aaf51;}
.bline {border-bottom:1px dotted #BCBCBC;height:28px;background-color:#FFFFFF;}

.lnav{}
.lnav dt{padding:9px 20px;color:#01aef0;border-bottom:1px solid #E5E5E5;background:#f3f3f3;color:#353735;}
.lnav dd {cursor:pointer;border-bottom:1px solid #EEEEEE;}
.lnav dd a {display:block;padding:9px 20px;font-size:14px;color:#625C5C;}

.mask{z-index:5;position:fixed;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,.5);}
.login-outer{width:400px;margin-left:auto;margin-right:auto;margin-top:200px;background-color:#ffffff ;-webkit-box-shadow:0 2px 10px rgba(0,0,0,.25);-moz-box-shadow:0 2px 10px rgba(0,0,0,.25);box-shadow:0 2px 10px rgba(0,0,0,.25);}
.login-title{z-index:999;background-color:#535E5F;color:#ffffff;padding:8px 15px 8px 20px;-webkit-box-shadow:0 2px 10px rgba(0,0,0,.25);-moz-box-shadow:0 2px 10px rgba(0,0,0,.25);box-shadow:0 2px 10px rgba(0,0,0,.25);}
.btn-close{float:right;color:#fff;}
.btn-close:hover{color:#fff;}
.btn-close img{width:100%;}

/*- tableBasic -*/
.tableBasic {background-color:#F9F9F9;color:#666666;border-left:1px dotted #CCCCCC;border-top:1px dotted #CCCCCC;}
.tableBasic td, .tableBasic th {border-right:1px dotted #CCCCCC;border-bottom:1px dotted #CCCCCC;}
.tableBasic th {background-color:#EEEEEE;height:16px;}
.tableBasic .child {background-color:#FFFFFF;}
.inpMain {border:1px solid #DBDBDB;background-color:#FFF;padding:4px 5px;color:#999;font-size:12x;line-height:20px;-webkit-appearance:none;}
.textArea {border:1px solid #DBDBDB;background-color:#FFF;padding:4px 5px;color:#999;font-size:12x;line-height:20px;-webkit-appearance:none;}

.backpages{text-align:center;padding:15px 0px;}.backpages a:hover{background:#01aef0;color:#fff;border:1px solid #01aef0;}
.backpages a{display:inline-block;height:32px;line-height:32px;padding:0 10px;font-size:14px;color:#333;background:#fff;margin-right:8px;border:1px solid #e3e3e3;}
.backpages .current{display:inline-block;height:32px;line-height:32px;padding:0 10px;font-size:14px;background:#01aef0;color:#fff;margin-right:8px;border:1px solid #01aef0;}

/* 后台左侧菜单 */
.menu ul{padding:0;}
.menu ul li{background-color:#f2f2f2;border:solid 1px #E5E5E5;border-bottom:0;}
.menu ul li a{padding-left:20px;color:#444;display:block;height:45px;line-height:45px;position:relative;font-size:16px;}
.menu ul li .inactive{background:url(/images/off.png) no-repeat 90% center;}
.menu ul li .active{background:url(/images/on.png) no-repeat 90% center;color:#01aef0;} 
.menu ul li ul{display:none;padding:0;}
.menu ul li ul li{border-left:0;border-right:0;background-color:#fafafa;border-color:#eee;}
.menu ul li ul li ul{display:none;padding:0;}
.menu ul li ul li a{padding-left:40px;}
.menu ul li ul li ul li {background-color:#fff;border-color:#f2f2f2;}
.menu .last{background-color:#fff;border-color:#eee;}
.menu ul li ul li ul li a{color:#616161;padding-left:60px;}







